<div data-role="view" id="single-editEvent" data-layout="default" class="event-view" data-init="app.EditEvent.init" data-show="app.EditEvent.show">
    <div data-role="header"></div>

    <div id="status-container" class="user-status-wrp cf">
        <div data-role="navbar">
            <a class="nav-button nav-button-icon nav-button-back hide-text" data-align="left" data-role="backbutton">Back</a>
       </div>

        <div class="picture-wrp">
            <img id="picture" class="picture" data-bind="attr:{src: PictureUrl()}" width="100%">
            <div class="user-info">
                <div class="user-avatar">
                    <img data-bind="attr:{src: Owner2().PictureUrl}" alt="#: Owner2().DisplayName #">
                </div>
                <h2 id="personName" class="person-name" data-bind='text: Owner2().DisplayName'></h2>
                <span id="eventDate" class="time-span" data-bind="text: CreatedAtFormatted"></span>
            </div>
        </div>
		
        <div class="content">
            <div class="event-content">
                <span id="eventText" data-bind="text: Text" class="user-share-txt"></span>
				<div class="bigImage">
		            <img data-bind="attr:{src: ImageUrlFormatted()}" />            
		        </div>
				<static class="paragraph">Participants</static>
        		<a id="addButtonParticipants" data-role="button" data-align="left" data-icon="arrow-e032" 
					href="views/addParticipantView.html" class="addButton"></a>
				<div class="comments-wrp">
                    <ul id="participants-listview"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Participant Template -->
<script type="text/x-kendo-template" id="participantTemplate">
    <div class="user-avatar">
        <img src="#: User().PictureUrl #" alt="#: User().DisplayName #">
    </div>
    <div class="comment-content">
        <h2 class="person-name">#: User().DisplayName #</h2>
        <a class="user-share-txt">#: Accepted #</a>
    </div>
</script>


