<div data-role="view" id="view-all-events" data-layout="default" class="events-view" data-model="app.Events" data-show="app.Events.onShow">
    <div data-role="header">
        <div data-role="navbar">
            Events
            <a class="nav-button" data-align="left" data-role="backbutton" data-click="app.Events.logout">Logout</a>
            <a class="nav-button" data-align="right" data-role="button" href="views/addEventView.html">Add</a>
        </div>
        
        <ul id="headerButtonGroup" data-role="buttongroup" data-select-on="up">
            <li>AGENDA</li>
            <li>ANNONCES</li>
            <li>PROGRAMMES</li>
        </ul>
        
    </div>

    <ul id="events-listview" data-role="listview" data-template="eventTemplate" data-bind="source: agendaDataSource" data-auto-bind="true"></ul>
    <p id="no-events-span" hidden="hidden" class="no-items-msg">
        <b>You have no posts yet.</b><br><br>Tap on the plus sign and share what's on your mind.
    </p>
</div>

<!-- Events ListView Template -->
<script type="text/x-kendo-template" id="eventTemplate">
    <div data-role="touch" data-bind="events: { tap: eventSelected }" class="cf">
        <!--<a href="/components/invitView.html?##id=#: Id #">-->
            <div class="bookImage">
                <img src="images/#: ImageUrl #.png" />
            </div>
            <div class="event-content">
                <div class="bookTitle">#: Text #</div>
                <div class="bookAuthor">dans #: Math.round((Start - new Date())/1000/60/60/24) # jour(s) #: FriendlyLocation #</div>  
                <!-- kendo.toString(data.Start - new Date(), "g") -->
                
            </div>
            <div class="#: Accepted() #">
                 <img src="images/Check-24.png" />
            </div>
        <!--</a>-->
    </div>
</script>